{{>licenseInfo}}
package {{package}};

import com.epam.http.response.RestResponse;
import org.testng.annotations.BeforeClass;
import org.testng.annotations.Test;
import org.testng.annotations.Ignore;

import static com.epam.http.requests.ServiceInit.init;

/**
 * API tests for {{classname}}
 */
public class {{classname}}Test {

    @BeforeClass
    public void before() { init({{classname}}.class); }

    {{#operations}}{{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     */
    {{#consumes}}
    @Ignore
    @Test
    public void {{operationId}}{{enumMedia}}Test() {
        // TODO: add call parameters and test validations
        RestResponse resp = {{classname}}.{{operationId}}{{enumMedia}}.call();
        resp.isOk();
    }
    {{/consumes}}
    {{^consumes}}
    @Ignore
    @Test
    public void {{operationId}}Test() {
        // TODO: add call parameters and test validations
        RestResponse resp = {{classname}}.{{operationId}}.call();
        resp.isOk();
    }
    {{/consumes}}
    {{/operation}}{{/operations}}
}
