<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>{{groupId}}</groupId>
	<artifactId>{{artifactId}}</artifactId>
	<name>{{artifactId}}</name>
	<version>{{artifactVersion}}</version>
	<url>{{artifactUrl}}</url>
	<description>{{artifactDescription}}</description>

	<developers>
		<developer>
			<name>{{developerName}}</name>
			<email>{{developerEmail}}</email>
			<organization>{{developerOrganization}}</organization>
			<organizationUrl>{{developerOrganizationUrl}}</organizationUrl>
		</developer>
	</developers>

	<properties>
		<swagger-annotations-v2-version>1.6.1</swagger-annotations-v2-version>
		<swagger-annotations-v3-version>2.1.4</swagger-annotations-v3-version>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<allure.testng>2.13.5</allure.testng>
		<allure.maven>2.10.0</allure.maven>
		<aspectj.version>1.9.5</aspectj.version>
		<testng.version>7.3.0</testng.version>
		<lombok.version>1.18.12</lombok.version>
		<lombok.maven>1.18.12.0</lombok.maven>
		<dark.version>1.1.7</dark.version>
		<suiteXML.file>general.xml</suiteXML.file>
		<rest.assured.version>4.3.0</rest.assured.version>
		<gson.version>2.8.6</gson.version>
		<gson.fire.version>1.8.4</gson.fire.version>
		{{#joda}}
		<jodatime.version>2.10.5</jodatime.version>
		{{/joda}}
		{{#threetenbp}}
		<threetenbp.version>1.4.3</threetenbp.version>
		{{/threetenbp}}
		{{#jackson}}
		<jackson.version>2.10.3</jackson.version>
		<jackson.databind.nullable.version>0.2.1</jackson.databind.nullable.version>
		{{#threetenbp}}
		<jackson.threetenbp.version>2.10.0</jackson.threetenbp.version>
		{{/threetenbp}}
		{{/jackson}}
		<javax.annotation.version>1.3.2</javax.annotation.version>
		<junit.version>4.13</junit.version>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>

		{{#useOas2}}
		<swagger-annotations-version>1.5.15</swagger-annotations-version>
		{{/useOas2}}
		{{^useOas2}}
		<swagger-annotations-version>2.1.4</swagger-annotations-version>
		{{/useOas2}}
		<commons_io_version>2.5</commons_io_version>
		<commons_lang3_version>3.6</commons_lang3_version>

	</properties>

	{{#jackson}}
		<dependencyManagement>
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson</groupId>
					<artifactId>jackson-bom</artifactId>
					<version>${jackson.version}</version>
					<type>pom</type>
					<scope>import</scope>
				</dependency>
			</dependencies>
		</dependencyManagement>
	{{/jackson}}

	<dependencies>
		<dependency>
			<groupId>com.epam.jdi</groupId>
			<artifactId>jdi-dark</artifactId>
			<version>${dark.version}</version>
		</dependency>

		{{^useOas2}}
		<dependency>
			<groupId>io.swagger.core.v3</groupId>
			<artifactId>swagger-annotations</artifactId>
			<version>${swagger-annotations-version}</version>
		</dependency>
		{{/useOas2}}
		{{#useOas2}}
		<dependency>
			<groupId>io.swagger</groupId>
			<artifactId>swagger-annotations</artifactId>
			<version>${swagger-annotations-version}</version>
		</dependency>
		{{/useOas2}}
		<!--Allure config in parent-->
		<dependency>
			<groupId>io.qameta.allure</groupId>
			<artifactId>allure-testng</artifactId>
			<version>${allure.testng}</version>
		</dependency>

		<dependency>
			<groupId>ch.qos.logback</groupId>
			<artifactId>logback-classic</artifactId>
			<version>1.3.0-alpha5</version>
		</dependency>

		<dependency>
			<groupId>org.projectlombok</groupId>
			<artifactId>lombok</artifactId>
			<version>1.18.12</version>
			<scope>provided</scope>
		</dependency>

		<dependency>
			<groupId>com.google.code.findbugs</groupId>
			<artifactId>jsr305</artifactId>
			<version>3.0.2</version>
		</dependency>
		<dependency>
			<groupId>javax.annotation</groupId>
			<artifactId>javax.annotation-api</artifactId>
			<version>${javax.annotation.version}</version>
			<scope>provided</scope>
		</dependency>
		<dependency>
			<groupId>io.rest-assured</groupId>
			<artifactId>rest-assured</artifactId>
			<version>${rest.assured.version}</version>
		</dependency>
		{{#gson}}
			<dependency>
				<groupId>com.google.code.gson</groupId>
				<artifactId>gson</artifactId>
				<version>${gson.version}</version>
			</dependency>
			<dependency>
				<groupId>io.gsonfire</groupId>
				<artifactId>gson-fire</artifactId>
				<version>${gson.fire.version}</version>
			</dependency>
		{{/gson}}
		{{#joda}}
		<dependency>
			<groupId>joda-time</groupId>
			<artifactId>joda-time</artifactId>
			<version>${jodatime.version}</version>
		</dependency>
		{{/joda}}
		{{#threetenbp}}
		<dependency>
			<groupId>org.threeten</groupId>
			<artifactId>threetenbp</artifactId>
			<version>${threetenbp.version}</version>
		</dependency>
		{{/threetenbp}}

		{{#jackson}}
			<!-- JSON processing: jackson -->
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-core</artifactId>
			<version>${jackson.version}</version>

		</dependency>
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-annotations</artifactId>
			<version>${jackson.version}</version>

		</dependency>
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-databind</artifactId>
			<version>${jackson.version}</version>
		</dependency>

		{{#withXml}}
		<dependency>
			<groupId>com.fasterxml.jackson.dataformat</groupId>
			<artifactId>jackson-dataformat-xml</artifactId>
		</dependency>
		{{/withXml}}
		{{#joda}}
		<dependency>
			<groupId>com.fasterxml.jackson.datatype</groupId>
			<artifactId>jackson-datatype-joda</artifactId>
		</dependency>
		{{/joda}}
		{{#java8}}
		<dependency>
			<groupId>com.fasterxml.jackson.datatype</groupId>
			<artifactId>jackson-datatype-jsr310</artifactId>
		</dependency>
		{{/java8}}
		{{#threetenbp}}
		<dependency>
			<groupId>com.github.joschi.jackson</groupId>
			<artifactId>jackson-datatype-threetenbp</artifactId>
			<version>${jackson-threetenbp.version}</version>
		</dependency>
		{{/threetenbp}}
		{{/jackson}}

		{{#useBeanValidation}}
			<!-- Bean Validation API support -->
		<dependency>
			<groupId>javax.validation</groupId>
			<artifactId>validation-api</artifactId>
			<version>2.0.1.Final</version>
		</dependency>
		{{/useBeanValidation}}
		{{#performBeanValidation}}
		<!-- Bean Validation Impl. used to perform BeanValidation -->
		<dependency>
			<groupId>org.hibernate</groupId>
			<artifactId>hibernate-validator</artifactId>
			<version>6.0.19.Final</version>
		</dependency>
		{{/performBeanValidation}}
	<!-- test dependencies -->

		<!-- test dependencies -->
		<dependency>
			<groupId>junit</groupId>
			<artifactId>junit</artifactId>
			<version>${junit.version}</version>
			<scope>test</scope>
		</dependency>
		<dependency>
			<groupId>org.testng</groupId>
			<artifactId>testng</artifactId>
			<version>${testng.version}</version>
			<scope>test</scope>
		</dependency>
	</dependencies>


	<build>
		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.1</version>
				<configuration>
					<source>
					1.8</source>
					<target>1.8</target>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-surefire-plugin</artifactId>
				<version>2.22.1</version>
				<configuration>
					<systemPropertyVariables>
						<allure.results.directory>${project.build.directory}/allure-results</allure.results.directory>
					</systemPropertyVariables>
					<suiteXmlFiles>
						<suiteXmlFile>src/test/resources/${suiteXML.file}</suiteXmlFile>
					</suiteXmlFiles>
					<testFailureIgnore>true</testFailureIgnore>
					<argLine>
						-javaagent:"${settings.localRepository}/org/aspectj/aspectjweaver/${aspectj.version}/aspectjweaver-${aspectj.version}.jar"
					</argLine>
				</configuration>
				<dependencies>
					<dependency>
						<groupId>org.aspectj</groupId>
						<artifactId>aspectjweaver</artifactId>
						<version>${aspectj.version}</version>
					</dependency>
				</dependencies>
			</plugin>
			<plugin>
				<groupId>io.qameta.allure</groupId>
				<artifactId>allure-maven</artifactId>
				<version>${allure.maven}</version>
			</plugin>
			<plugin>
				<artifactId>maven-resources-plugin</artifactId>
				<version>3.0.2</version>
				<executions>
					<execution>
						<id>copy-allure-environment</id>
						<phase>generate-sources</phase>
						<goals>
							<goal>copy-resources</goal>
						</goals>
						<configuration>
							<outputDirectory>${project.build.directory}/allure-results</outputDirectory>
							<resources>
								<resource>
									<directory>src/test/resources/</directory>
									<includes>
										<include>environment.properties</include>
									</includes>
									<filtering>true</filtering>
								</resource>
							</resources>
						</configuration>
					</execution>
				</executions>
			</plugin>
			<plugin>
				<groupId>org.projectlombok</groupId>
				<artifactId>lombok-maven-plugin</artifactId>
				<version>1.18.10.0</version>
				<executions>
					<execution>
						<phase>generate-sources</phase>
						<goals>
							<goal>delombok</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
		</plugins>

		<resources>
			<resource>
				<directory>${project.basedir}/src/main/resources</directory>
			</resource>
		</resources>

		<testResources>
			<testResource>
				<directory>src/test/resources</directory>
				<filtering>true</filtering>
			</testResource>
		</testResources>
	</build>

	<reporting>
		<excludeDefaults>true</excludeDefaults>
		<plugins>
			<plugin>
				<groupId>io.qameta.allure</groupId>
				<artifactId>allure-maven</artifactId>
				<version>LATEST</version>
				<configuration>
					<properties>
						<allure.results.directory>target/allure-results</allure.results.directory>
					</properties>
					<properties>
						<allure.link.issue.pattern>https://example.org/issue/{}</allure.link.issue.pattern>
					</properties>
				</configuration>
			</plugin>
		</plugins>
	</reporting>
</project>
